<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>In order to reset password follow this <a href="/accounts/<%= @user.token%>">link</a></p>
  </body>
</html>